<div mat-dialog-title>
  <h1>Propietarios</h1>
</div>
<div mat-dialog-content class="content">
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Nombre completo</mat-label>
      <input matInput type="text" placeholder="Ingrese su nombre">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Seleccione: </mat-label>
      <mat-select>
        <mat-option value="ti">T.I</mat-option>
        <mat-option value="cc">C.C</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>N° Documento</mat-label>
      <input matInput type="number" placeholder="Ingrese el documento">
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Ciudad</mat-label>
      <input matInput type="text" placeholder="Ingrese la ciudad">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Dirección</mat-label>
      <input matInput type="text" placeholder="Ingrese una dirección">
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Telefono</mat-label>
      <input matInput type="number" placeholder="Ingrese un telefono">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Seleccione una fecha: </mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

</div>
<div mat-dialog-actions>
  <button mat-raised-button class="action">Cancelar</button>
  <button mat-raised-button class="action" color="primary">Guardar</button>
</div>
