<ng-template class="template" #content let-c="close" let-d="dismiss">
  <form class="form" [formGroup]="myForm" (ngSubmit)="guardar(myForm)">
    <h3 class="data">Datos Generales</h3>
    <div>
      <button type="button" class="btn-close" aria-label="Close" (click)="formulario()"
        (click)="d('Cross click')"></button>
    </div>

    <mat-form-field class="example-full-width">
      <mat-label>Nombre Completo</mat-label>
      <input formControlName="dsnombre_completo" type="text" matInput placeholder="Escribe tu nombre">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Tipo Documento</mat-label>
      <select formControlName="dstipo_documento" matNativeControl>
        <option value="" selected></option>
        <option value="T.I">T.I</option>
        <option value="C.C">C.C</option>
      </select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>N° Documento</mat-label>
      <input formControlName="nmidentificacion" type="number" matInput placeholder="Ingresa el documento">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Ciudad</mat-label>
      <input formControlName="dsciudad" type="text" matInput placeholder="Ingrese la ciudad">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Dirección</mat-label>
      <input formControlName="dsdireccion" type="text" matInput placeholder="Ingrese la dirección">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Teléfono</mat-label>
      <input formControlName="nmtelefono" matInput placeholder="Escribe tu número de teléfono">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Fecha de registro</mat-label>
      <input formControlName="dtfecha_registro" type="text" onfocus="(this.type = 'date')" [min]="today" matInput>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <div class="example-button-row">
      <button type="submit" [disabled]="myForm.invalid" class="save-button" mat-raised-button
        color="primary">Guardar</button>
      <button (click)="formulario()" (click)="d('Cross click')" class="cancel-button" type="button"
        mat-raised-button>Cancelar</button>
    </div>
  </form>
</ng-template>

<mat-toolbar color="primary">
  <span>Propietarios</span>
  <span class="example-spacer"></span>
  <nav class="example-button-row">
    <button class="lanzar" mat-raised-button (click)="open(content)">Nuevo Propietario</button>
  </nav>
</mat-toolbar>

<div class="modal-header">
  <h4 id="modal-basic-title">Datos de propietarios</h4>
</div>

<div>
  <button (click)="exporter.exportTable('xlsx',{fileName:'info-propietarios'})">
    Descargar Excel
  </button>
</div>

<div>
  <table mat-table [dataSource]="dataSource" class="" matTableExporter matSort matSortActive="created"
    #exporter="matTableExporter">
    <ng-container matColumnDef="nmid">
      <th mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header>N°</th>
      <td mat-cell *matCellDef="let row">{{ row.nmid }}</td>
    </ng-container>

    <ng-container matColumnDef="dsnombre_completo">
      <th mat-header-cell scope="col" *matHeaderCellDef mat-sort-header>Nombre completo</th>
      <td mat-cell *matCellDef="let row">{{ row.dsnombre_completo }}</td>
    </ng-container>

    <ng-container matColumnDef="dstipo_documento">
      <th mat-header-cell scope="col" *matHeaderCellDef mat-sort-header>Tipo documento
      <th>
      <td mat-cell *matCellDef="let row">{{ row.dstipo_documento }}</td>
    </ng-container>

    <ng-container matColumnDef="nmidentificacion">
      <th mat-header-cell scope="col" *matHeaderCellDef mat-sort-header>N° Documento</th>
      <td mat-cell *matCellDef="let row">{{ row.nmidentificacion }}</td>
    </ng-container>

    <ng-container matColumnDef="dsciudad">
      <th mat-header-cell scope="col" *matHeaderCellDef mat-sort-header>Ciudad</th>
      <td mat-cell *matCellDef="let row">{{ row.dsciudad }}</td>
    </ng-container>

    <ng-container matColumnDef="dsdireccion">
      <th mat-header-cell scope="col" *matHeaderCellDef mat-sort-header>Dirección
      <th>
      <td mat-cell *matCellDef="let row">{{ row.dsdireccion }}</td>
    </ng-container>

    <ng-container matColumnDef="nmtelefono">
      <th mat-header-cell scope="col" *matHeaderCellDef mat-sort-header>Telefono
      <th>
      <td mat-cell *matCellDef="let row">{{ row.nmtelefono }}</td>
    </ng-container>

    <ng-container matColumnDef="dtfecha_registro">
      <th mat-header-cell scope="col" *matHeaderCellDef mat-sort-header>Fecha registro
      <th>
      <td mat-cell *matCellDef="let row">{{ row.dtfecha_registro }}</td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell scope="col" *matHeaderCellDef mat-sort-header>Acciones
      <th>
      <td mat-cell *matCellDef="let row">
        <button mat-raised-button color="primary" (click)="editar(row)" (click)="openEdit(content)"
          matTooltip="Editar"><mat-icon>edit</mat-icon></button>
        <button mat-raised-button color="primary" (click)="mostrar(row)">Añadir Mascota</button>

      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayColumn"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumn;"></tr>
  </table>
</div>

<!-- <div class="example-table-container">
  <table class="table table-bordered hover table-borderless">
    <thead>
      <tr>
        <th>N°</th>
        <th>Nombre completo</th>
        <th>Documento</th>
        <th>N° Documento</th>
        <th>Ciudad</th>
        <th>Dirección</th>
        <th>Telefono</th>
        <th>Fecha de registro</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of datosPropietarios; index as i">
        <td>{{i +1}}</td>
        <td>{{item.dsnombre_completo}}</td>
        <td>{{item.dstipo_documento}}</td>
        <td>{{item.nmidentificacion}}</td>
        <td>{{item.dsciudad}}</td>
        <td>{{item.dsdireccion}}</td>
        <td>{{item.nmtelefono}}</td>
        <td>{{item.dtfecha_registro}}</td>
        <td>
          <button mat-raised-button color="primary" (click)="editar(item)" (click)="openEdit(content)"
            matTooltip="Editar"><mat-icon>edit</mat-icon></button>
          <button mat-raised-button color="primary" (click)="mostrar(item)">Añadir Mascota</button>
        </td>
      </tr>
    </tbody>
  </table>
</div> -->
